<%- include('../../components/header') %>
<%- include('dashboard-nav-bar') %>

<div class="container">
  <div class="row justify-content-xs-center">
    DASHBOARD
  </div>
</div>

<%- include('../../components/footer') %>
