<%- include('../../components/header') %>
<%- include('../../components/navbar') %>

<style>
  .loginContainer {
    margin-top: 50px;
  }
</style>

<div class="container loginContainer">
 <div class="row  justify-content-center">
  <div class="col col-lg-6 col-md-8 col-xs-12">
    <div class="card  align-middle">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="txtEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
          </div>
        </div>

        <div class="row ">
          <div class="col mb-2">
            <label for="txtPassword" class="form-label">Password</label>
            <input class="form-control" id="txtPassword"></input>
          </div>
        </div>

        <div class="row">
          <div class="col mb-2">
            <button type="button" id='btnLogin' class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<%- include('scripts') %>
<%- include('../../components/footer') %>
