<%- include('../../components/header', {
  services: [
    'account'
  ],
  thirdParty: [
    '/crypto-js/crypto-js.js'
  ]
}) %>
<%- include('../../components/navbar') %>

<style>
  .loginContainer {
    margin-top: 50px;
  }
</style>

<div class="container loginContainer">
 <div class="row  justify-content-center">
  <div class="col col-lg-4 col-md-8 col-xs-12">
    <div class="card  align-middle">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="txtEmail" class="form-label">Email address</label>
            <div class="row">
              <div class="col col-sm-3">
                <select class="form-select" aria-label="counntryCode" id="selectCountryCode">
                </select>
              </div>
              <div class="col col-sm-9">
                <input type="text" class="form-control" id="txtLoginId">
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col mb-2">
            <label for="txtPassword" class="form-label">Password</label>
            <input class="form-control" type="password" id="txtPassword"></input>
          </div>
        </div>

        <div class="row">
          <div class="col mb-2">
            <button type="button" id='btnLogin' class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<%- include('../../components/footer', {
  scripts: [
    'login/login.js'
  ]
}) %>
